main {
    text-align: center;
    margin-top: 10pc;
}
h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 6pc;
}
button {
    border: none;
    outline: none;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.945);
    transition: .5s;
}